*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 15px 'PT Sans', Arial, Helvetica, sans-serif;
    color: #e9e1e1;
}
.Main-Wrap{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: #151414;
}
.Nav{
    display: flex;
    align-items: center;
    padding-left: 50px;
    text-transform: uppercase;
    width: 100%;
    min-height: 50px;
    background-color: #131415;
    color: white;
}
.Nav>div>a{
    color: #e7e3e3;
}
.Nav>div{
    margin-right: 20px;
}
a:hover{
    text-decoration: none;
    color: #5f5858;
}
.block1{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243544;
}
.block1-style{
    background-color: #2D2E30;
}
.block1-in{
    padding: 20px;
    border-radius: 5px;
    background-color: #545454;
}
.User-Block{
    display: flex;
}
.Posts-Wrap{
    padding: 100px;
    color: #bfb4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1F2123;
    min-height: 325px;
}
.block2-in{
    background-color: #131415;
    padding: 20px;
    border-radius: 5px;
}
.block3-in{
    background-color: #131415;
    padding: 20px;
    border-radius: 5px;
}
